language: ruby
sudo: false
cache: bundler
bundler_args: --without profile
env:
  - JRUBY_OPTS="-Xcli.debug=true --debug"
notifications:
  irc: "irc.freenode.org#axlsx"
  email:
    recipients:
      - digital.ipseity@gmail.com
    on_success: always
rvm:
  - 1.9.2
  - 1.9.3
  - 2.0
  - 2.1
  - 2.2
  - rbx
  - jruby-19mode
  - jruby-9.0.0.0
  - ruby-head
  - jruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-9.0.0.0
    - rvm: jruby-head
